/* start */

.logo {
    font-family: productsans;
    font-size: 70px;
    text-transform: capitalize;
    margin: 50px 0px 50px 0px;
}

.apps-container {
    width: 90%;
    justify-content: space-evenly;
}

.appsus {
    background-color: aquamarine;
    top: 45px;
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    justify-content: flex-start;
}