/* start */

.misterKeeper {
    margin-left: 20px;
    font-family: lato;
    width: 90%;
}

.misterKeeperLogo {
    width: 100%;
}

.misterKeeperLogo img {
    height: 80px;
    width: 80px;
}

.misterKeeperLogo li {
    color: #FFBB12;
    font-family: lato;
    text-transform: uppercase;
    letter-spacing: -1px;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
    
}   


/* .txt-section{
    width: 100%;
}

.txt-input{
    width: 70%;
    margin-top: 20px;
} */

.note-txt {
    font-weight: 600;
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    padding: 60px 15px 15px 15px;
    color: #000;
    overflow:hidden;
    text-align: center;
    margin:10px 0;
    border-color: transparent;
    font-family: eurofurence;
    font-size: 25px;
    -webkit-transform: rotate(4deg);
    position: relative;
    overflow: visible;
    cursor: pointer;



    box-shadow: rgb(119, 119, 119) 0px 5px 5px;
   
   

}

.note-img {
    font-weight: 600;
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    padding: 10px;
    margin:10px 0;
    border-color: transparent;
    font-family: eurofurence;
    font-size: 25px;
    overflow:hidden;
    text-align: center;
    -webkit-transform: rotate(4deg);
    overflow: visible;
    /* height: 200px; */
    box-shadow: rgb(119, 119, 119) 0px 5px 5px;
    cursor: pointer;
}

.note-img img {
    width: 100%;
}

.notes-container{
    width: 95%;
    margin-top: 20px;
}



.noteTxt{

    font-weight: 600;
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    padding: 10px;
    margin:10px 0;
    border-color: transparent;
    font-family: eurofurence;
    font-size: 25px;
    overflow:hidden;
    text-align: center;
    overflow: visible;
    margin: 0 auto;
    /* height: 200px; */
}

.noteTxt img{
    width: 100%;
}

.note-list{
    font-weight: 600;
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    padding: 60px 15px 15px 15px;
    color: #000;
    overflow:hidden;
    text-align: center;
    margin:10px 0;
    border-color: transparent;
    font-family: eurofurence;
    font-size: 25px;
    -webkit-transform: rotate(4deg);
    overflow: visible;
    box-shadow: rgb(119, 119, 119) 0px 5px 5px;
    cursor: pointer;


}

.list-title{
    text-decoration: underline;
}


.note-list ul{
    list-style-type:disc;
        padding: 30px;
}



/* 
#notes li {
    position: relative;
    width: 300px;
    min-height: 100px;
    margin: 25px auto;
    padding: 60px 15px 15px 15px; */


    .tape{
        height: 20px;
        width: 60px;
        position:absolute;
        top: -8px;
        
    }

    .note-img img.tape{
        height: 20px;
        width: 60px;
        position:absolute;
        top: -8px;
    }


    .note-list-edit h1{

        text-transform: uppercase;
        color: rgba(93, 189, 210);
    font-family: lato;
    text-transform: uppercase;
    letter-spacing: -1px;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    }